/*Global Component*/
@import "./base";

body {
  .main {
    position: relative;
    z-index: $main;
    padding-bottom: 10px;
    background-color: $bg-color;
  }
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.MuiDrawer-root {
  .MuiPaper-root {
    width: 250px;
  }
}
