$color-primary-hover: $color-primary;

// Button
%btn {
  border-radius: 2px;
  // text-shadow: 1.4px 1.4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: none;
  font-family: $font-family;
  font-weight: $font-weight;

  &:focus,
  &:active {
    box-shadow: none !important;
  }
}

%btn-primary {
  @extend %btn;
  background-color: $color-primary;
  border-color: $color-primary;
  border-width: 1;
  box-shadow: none;

  &:hover {
    background-color: $color-primary-hover;
  }

  &:active,
  &:not(:disabled):not(.disabled):active {
    background-color: $color-primary-hover;
  }
}

%btn-secondary {
  @extend %btn;
  background-color: $color-secondary;
  border-color: $color-secondary;
  box-shadow: none;
}

%btn-success {
  @extend %btn;
  background-color: $color-secondary;
  border-color: $color-secondary;
  box-shadow: none;

  &:hover {
    background-color: $color-secondary;
  }

  &:active,
  &:not(:disabled):not(.disabled):active {
    background-color: $color-secondary;
  }
}

%btn-outline-primary {
  @extend %btn;
  color: $color-primary;
  border-color: $color-primary;
  background-color: $color-white;

  &:hover {
    color: $color-primary;
    background-color: rgb(229, 246, 255);
  }

  &:active,
  &:not(:disabled):not(.disabled):active {
    color: $color-white;
    background-color: $color-primary;
  }
}

%form-control {
  border: 1px solid #a8a5b3;
  border-radius: $border-radius;
  font-family: $font-family;
  font-size: $font-size;
  height: 50px;
  padding: ($gap - 2) ($gap + 2);
  width: 100%;

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    color: #9b9b9b;
    font-weight: $font-weight;
  }

  &.textarea {
    height: 120px;
  }

  &.form-control-sm {
    height: 35px;
  }
}

%input-group-padding {
  padding: ($gap - 2) ($gap + 2);
}

@mixin transition($property) {
  // -webkit-transition: $property;
  // /* Safari 4+ */
  // -moz-transition: $property;
  // /* Fx 5+ */
  // -o-transition: $property;
  /* Opera 12+ */
  transition: $property;
  /* IE 10+, Fx 29+ */
}

@mixin border-radius($value) {
  // -moz-border-radius: $value;
  // -webkit-border-radius: $value;
  // -o-border-radius: $value;
  border-radius: $value;
}

@mixin box-shadow() {
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}

@function rem($pixels, $size: 16) {
  @return ($pixels / $size) * 1rem;
}

@mixin Panel() {
  .panel {
    margin-bottom: 10px;
    padding: 10px 10px 15px;
    border: 1px solid $border-color;
    @include border-radius($border-radius-min);
    background-color: $bg-panel;

    &__title {
      margin-bottom: 10px;
      font-size: rem(16);
      font-weight: $font-weight-bold;
    }
  }
}

@mixin loadingAnimation() {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+43,ff3030+52,ffffff+61 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    $color-lightest 40%,
    $color-lighter 50%,
    $color-lightest 60%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    $color-lightest 40%,
    $color-lighter 50%,
    $color-lightest 60%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    $color-lightest 40%,
    $color-lighter 50%,
    $color-lightest 60%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

  background-size: 300% 300%;

  -webkit-animation: AnimationName 1s ease infinite;
  -moz-animation: AnimationName 1s ease infinite;
  animation: AnimationName 1s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0% 0;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0% 0;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0% 0;
    }
  }
}
